.comic {
    padding: 2rem 0;
    .container {
        gap: 2rem;
        .availability {
            background-color: greenyellow;
            .left {
                flex-grow: 1;
            }
            > div {
                padding: 1rem;
                border: 1px solid black;
                select {
                    background-color: greenyellow;
                    

                }
            }
        }
    }
}